# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Portfolio.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\r_ngt\03_GitHub\Portfolio\.idea\.idea.Portfolio.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
